<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ap.andruav_ap"
    android:installLocation="auto"
    >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> <!-- for Google Maps -->
    <!-- WEBRTC -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.display"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="false" /> <!-- DJI and reuired = true in sample case -->
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <permission
        android:name=".permission.MAPS_RECEIVE"
        android:protectionLevel="normal" />

    <uses-permission android:name=".permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- I use the permission ! -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--<uses-permission android:name="andro2.jf.mypermission" /> --> <!-- REGISTRATION -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Remote Access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Board Interface -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- USB Interface -->
    <uses-permission android:name="android.hardware.usb.host" /> <!-- Social Media -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- DJI -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- WEB RTC -->
    <!-- Auto Reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- PubNub Dependencies -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- upgrade to Android 9-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="ap.andruav_ap.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo2"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <!-- http://developer.android.com/guide/topics/data/install-location.html -->
        <uses-library android:name="com.android.future.usb.accessory" />
        <!--
            <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="5aaabbe20e021f49cd99200a" />
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC4zUgr3pzCZgfw7tT0fXygT4-AXjtA3CU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="ap.andruav_ap.MainActivityBuilder"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity
            android:name="ap.andruav_ap.activities.main.ModuleScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"> <!-- http://www.intridea.com/blog/2011/6/16/android-understanding-activity-launchmode -->
        </activity>
        <activity
            android:name="ap.andruav_ap.activities.main.MainScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"> <!-- http://www.intridea.com/blog/2011/6/16/android-understanding-activity-launchmode -->
        </activity>
        <activity
            android:name="ap.andruav_ap.activities.fpv.drone.FPVModuleRTCWebCamActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_fpv"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.fpv.drone.FPVDroneRTCWebCamActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_fpv"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.HUBCommunication"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_hubcommunication"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.map.AndruavMapsShasha"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ap.andruav_ap.activities.drone.IMUShasha"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_imu"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.settings.SettingsGCS"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.settings.SettingsDrone"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.fcb.FCB_TCPShasha"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_fcb"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.remote.RemoteControlActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_remote_control"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.remote.RemoteControlSettingActivityTab"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_remote_control_setting_activity_tab"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.remote.RemoteControlSettingGCSActivityTab"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_remote_control_setting_activity_tab"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.data.DataShashaTab"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_data_activity_fragment"
            android:launchMode="singleTask" />
        <activity
            android:name="ap.andruav_ap.activities.drone.FlashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_data_activity_flash"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ap.andruav_ap.activities.main.FirstScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:noHistory="true" />
        <activity android:name="ap.andruav_ap.activities.main.MainGCSActivity" />
        <activity android:name="ap.andruav_ap.activities.login.drone.MainDroneActiviy" />
        <activity
            android:name="ap.andruav_ap.activities.login.drone.MainDroneActiviy$DroneLoginShasha"
            android:launchMode="singleTask"
            android:noHistory="true" />
        <activity
            android:name="ap.andruav_ap.activities.login.GCSLoginShasha"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:noHistory="true" />
        <activity
            android:name="ap.andruav_ap.activities.fcb.drone.FCB_AndruavShashaL2"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_fcb__drone"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="ap.sensors.SensorService"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="ap.andruav_ap.broadcastReceiver.BOOT_Receiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>